<html>
<body>
<table style="color:rgb(0,0,0);font-family:'Times New Roman';font-size:medium;border:35px solid rgb(0,170,160);border-radius:18px;padding:20px;max-width:960px;margin-left:auto;margin-right:auto">
  <tbody>
    <tr>
      <td align="center" style="border-top-width:0px;border-top-style:solid;border-top-color:rgb(0,0,0);text-align:center;height:50px">
        <br>
      </td>
    </tr>
    <tr>
      <td style="height:100px">
        <img src="https://ci4.googleusercontent.com/proxy/hAuNjxDXc4fltmpkKAYshPsNbpCbDH1GrzaLepC2u0nVxmYBoWuSLB13z-flYcvUHVV1i8bCIzAPzYp__qLh=s0-d-e1-ft#https://molescope.com/assets/logotype.png" style="width:300px;margin-left:5px" class="CToWUd a6T" tabindex="0">
        <div class="a6S" dir="ltr" style="opacity: 0.01; left: 432.5px; top: 168px;">
          <div id=":4h" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V">
            <div class="aSK J-J5-Ji aYr">
            </div>
          </div>
        </div>
        <div dir="ltr">
          <div>
          </div>
        </div>
        <div dir="ltr">
          <div>
          </div>
        </div>
        <div dir="ltr">
          <div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td valign="top" style="border-top-width:3px;border-top-style:solid;border-top-color:rgb(221,221,221)">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:20px">
          <tbody>
            <tr>
              <td align="center" width="100%" style="border-top-width:0px;border-top-style:solid;border-top-color:rgb(0,0,0);height:50px">
                <p style="margin-bottom:20px;font-size:30px;font-weight:bold;color:rgb(73,74,72);font-family:arial;line-height:33px">
                  {{ pagename }}
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td align="left" width="80%" style="border-top-width:0px;border-top-style:solid;border-top-color:rgb(0,0,0);vertical-align:top;height:50px;padding:0px 40px 0px 0px">
                        <p style="margin-top:0px">
                          <span style="font-size:12px;line-height:18px;color:rgb(73,74,72);font-family:arial">
                            {{ greeting }}
                          </span>
                        </p>
                        <p style="margin-top:0px">
                          <span style="font-size:12px;line-height:18px;color:rgb(73,74,72);font-family:arial">
                            {{ reminder_body }}
                          </span>
                          <a href="{{google_docs_url}}" style="font-size:12px;line-height:18px;font-family:arial" target="_blank">
                            {{ month_date }}
                          </a>
                          <span style="font-size:12px;line-height:18px;color:rgb(73,74,72);font-family:arial">
                            &nbsp;
                          </span>
                          <span style="color:rgb(73,74,72);font-family:arial;font-size:12px;line-height:18px">
                            (
                            <span class="aBn" data-term="goog_1019671496" tabindex="0">
                              <span class="aQJ">
                                {{ day_of_week }}
                              </span>
                            </span>
                            )
                          </span>
                          <span style="color:rgb(73,74,72);font-family:arial;font-size:12px;line-height:18px">
                            is due tonight, at 
                            <span class="aBn" data-term="goog_1019671497" tabindex="0">
                              <span class="aQJ">
                                11:59 PM
                              </span>
                            </span>
                            .&nbsp;
                          </span>
                        </p>
                        <p style="margin-top:0px">
                          <span style="font-size:12px;line-height:18px;color:rgb(73,74,72);font-family:arial">
                            {{ closing }}
                          </span>
                        </p>
                        <p style="margin-top:0px">
                          <span style="color:rgb(73,74,72);font-family:arial;font-size:12px;line-height:18px">
                            - <em>{{ from }}</em>
                          </span>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
</body>
</html>